@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 128, 128, 128;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 192, 192, 192;
    --background-end-rgb: 64, 64, 64;
    --background-rgb: 0, 0, 0;
  }
}

body {
  /* background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  background-color: black; */
  background-image: url("../public/THE+CORE+logo+final.png"),
    url("../public/blurry-gradient-haikei.svg");
  background-repeat: no-repeat;
  background-position:
    top left,
    center;
  background-size: 25%, cover;
  background-repeat: no-repeat;
  color: whitesmoke;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
