@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 128, 128, 128;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 192, 192, 192;
    --background-end-rgb: 64, 64, 64;
    --background-rgb: 0, 0, 0;
  }
} */

body {
  /* backdrop-filter: blur( 0px ); */
  /* background-image:  url("../public/login-background-image.jpg"); */
  /* url("../public/blurry-gradient-haikei.svg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-color: #252525 */
}

